<html>
<head>
<title>OVA for JWOVA_JW_VERSION (OVA_JW_RELEASE_NUMBER) - Special Cases</title>
<link rel="stylesheet" type="text/css" href="../../../dist/css/global.css" />
</head>
<body>
<a href="www.openvideoads.org"><img src="../../../dist/images/ova-logo-final.png" border="0"/></a>
<h2>OVA for JWOVA_JW_VERSION (OVA_JW_RELEASE_NUMBER) - Special Cases</h2>
<p class="example">
</p>
<ol>
<li><a href="example01.html">Empty VAST Response with Autostart</a></li>
<li><a href="example02.html">Bad VAST Response</a></li>
<li><a href="example03.html">Non-Compliant XML Response with Autostart</a></li>
<li><a href="example04.html">Empty Ad Schedule</a></li>
<li><a href="example05.html">Explicitly Turning Ads Off</a></li>
<li><a href="example06.html">No Ads, No Streams, Autostart</a></li>
<li><a href="example07.html">Empty OVA Configuration</a></li>
</ol>
<p>
<a href="../../index.html">Back to main index</a>
</p>
<p class="example">
Copyright 2010 Open Video Ads
</p>
</body>
