<html>
<head>
<title>OVA - Analytics</title>
<link rel="stylesheet" type="text/css" href="../../../dist/css/global.css" />
</head>
<body>
<a href="www.openvideoads.org"><img src="../../../dist/images/ova-logo-final.png" border="0"/></a>
<h2>OVA - Analytics</h2>
<p class="example">
<p>
<ol>
<li><a href="example02.html">Adding Google Analytics Custom Tracking URLs</a></li>
<!--
<li><a href="example01.html">Modifying the default Google Analytics OVA Tracking Details</a></li>
<li><a href="example03.html">Disabling Google Analytics Completely</a></li>
<li><a href="example04.html">Disabling OVA Default Google Analytics while Enabling Custom Google Analytics</a></li>
<li><a href="example05.html">Disabling Impression Tracking Specifically</a></li>
-->
</ol>
<p class="example">
These examples use an OpenX installation that we are running at Open Video Ads. To gain more insight
into the zone/banner setup that we have in place for the examples, please read this <a href="../openx-config.html">short guide</a>.
</p>
<p>
<a href="../../index.html">Back to main index</a>
</p>
<p class="example">
Copyright 2010 Open Video Ads
</p>
</body>
