<html>
<head>
<title>OVA for JW4 - Skip Ad Button</title>
<link rel="stylesheet" type="text/css" href="../../../dist/css/global.css" />
</head>
<body>
<a href="www.openvideoads.org"><img src="../../../dist/images/ova-logo-final.png" border="0"/></a>
<h2>OVA for JW4 - Skip Ad Button</h2>
<p class="example">
<p>
<ol>
<li><a href="example01.html">Showing a "skip ad" button during linear ads</a></li>
<li><a href="example02.html">Customising the "skip ad" button image</a></li>
<li><a href="example03.html">Customising the "skip ad" using Region settings</a></li>
<li><a href="example04.html">Only enable on ads with a minimum duration</a></li>
</ol>
<p>
<a href="../index.html">Back to main index</a>
</p>
<p class="example">
Copyright 2010 Open Video Ads
</p>
</body>
