<html>
<head>
<title>OVA for JWOVA_JW_VERSION (OVA_JW_RELEASE_NUMBER) - Custom Ad Delivery Options</title>
<link rel="stylesheet" type="text/css" href="../../../dist/css/global.css" />
</head>
<body>
<a href="www.openvideoads.org"><img src="../../../dist/images/ova-logo-final.png" border="0"/></a>
<h2>OVA for JWOVA_JW_VERSION (OVA_JW_RELEASE_NUMBER) - Custom Ad Delivery Options</h2>
<p class="example">
<p>
<ol>
<li><a href="example01.html">Repeating Ad Positions</a></li>
<li><a href="example02.html">Play ads only once</a></li>
<li><a href="example03.html">Targetted Ad Delivery</a></li>
<li><a href="example04.html">Selective application of ad slots</a></li>
<li><a href="example05.html">Impression serving on an empty Ad VAST response</a></li>
<li><a href="example06.html">Ignoring VAST Ad Duration</a></li>
<li><a href="example07.html">Selection of video media based on mime type</a></li>
<li><a href="example08.html">Selection of media based on bitrate</a></li>
<li><a href="example09.html">Turning off non-linear ad replay</a></li>
<li><a href="example11.html">Modifying the linear ad mime type exclusion rules</a></li>
<li><a href="example16.html">Modifying the non-linear ad mime type exclusion rules</a></li>
<li><a href="example12.html">Selection based on delivery type</a></li>
<li><a href="example13.html">Modifying 'Pause on Clickthrough'</a></li>
<li><a href="example15.html">Supporting VAST Extension Tags (for extra clicktracking)</a></li>
</ol>
<p class="example">
These examples use an OpenX installation that we are running at Open Video Ads. To gain more insight
into the zone/banner setup that we have in place for the examples, please read this <a href="../openx-config.html">short guide</a>.
</p>
<p>
<a href="../../index.html">Back to main index</a>
</p>
<p class="example">
Copyright 2010 Open Video Ads
</p>
</body>
