<html>
<head>
<title>OVA for JWOVA_JW_VERSION (OVA_JW_RELEASE_NUMBER) - Live Streaming Examples</title>
<link rel="stylesheet" type="text/css" href="../../../dist/css/global.css" />
</head>
<body>
<a href="www.openvideoads.org"><img src="../../../dist/images/ova-logo-final.png" border="0"/></a>
<h2>OVA for JWOVA_JW_VERSION (OVA_JW_RELEASE_NUMBER) - Live Streaming Examples</h2>
<p class="example">
<p>
<ol>
<li><a href="example01.html">A live stream with a pre-roll</a></li>
<li><a href="example02.html">An AdTech pre-roll with a live stream</a></li>
<li><a href="example03.html">2 AdTech pre-rolls before a live stream</a></li>
<li>A fixed length live stream with a pre and post roll</li>
<li>Delivering overlays on a live stream</li>
</ol>
<p class="example">
These examples use an OpenX installation that we are running at Open Video Ads. To gain more insight
into the zone/banner setup that we have in place for the examples, please read this <a href="../openx-config.html">short guide</a>.
</p>
<p>
<a href="../../index.html">Back to main index</a>
</p>
<p class="example">
Copyright 2010 Open Video Ads
</p>
</body>
